@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: minmax(230px, 1fr) 4fr;
  height: 100vh;
}

.sidebar {
  background-color: yellow;
}

.main-content {
  background-color: #eef;
}
